/*Stylesheet by Erin J. LeFevre, 2020*/

#mapid {
    background-color: #000000;    
    width: 650px;
    height: 650px;
    min-height: 100%;
    min-width: 100%;
    display: block;
  
}
 
#header {
    background-color: #000000;    
    width:500px;
    height: 63px;
	font-family: Georgia, serif;
	font-size: 9;
	color: #f9fbd0;    
    display: block;
	
body {
  background-color: #000000;
	font-family: Georgia, "Times New Roman";
}
	

/* changes the background color of popups*/
.leaflet-popup-tip {
	background: #f9fbd0;
	opacity: .75;
	color: #333;
	box-shadow: 0 3px 14px rgba(0,0,0,0.4);
	}
/*changes font color on popups*/	
.leaflet-popup-content {
	margin: 13px 19px;
	line-height: 1.4;
	color: black;
	}
/*changes the background color*/	
.leaflet-control-layers-expanded {
	padding: 3px 3px 3px 3px;
	color: #333;
	background: #f9fbd0;
	opacity: .75;
	width: 150px;
/*changes the background color of the zoom*/
.leaflet-touch .leaflet-control-zoom-in, .leaflet-touch .leaflet-control-zoom-out  {
	font-size: 22px;
	background-color: #f9fbd0;
	}
	
/* general typography */
.leaflet-container {
	font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #f9fbd0
	}


	
	
	
	