/*Stylesheet by Erin J. LeFevre, 2020*/

#mapid {
    background-color: #000000;    
    width: 650px;
    height: 650px;
    min-height: 100%;
    min-width: 100%;
    display: block;
  
}
 
#header {
    background-color: #000000;    
    width:500px;
    height: 75px;
	font-family: Georgia, serif;
	font-size: 9;
	color: #f9fbd0;    
    display: block;
	
body {
  background-color: #000000;
	font-family: Georgia, "Times New Roman";
}
	

body {
    font-family: Arial, Helvetica, sans-serif;
}

.title {
  
  margin: 0px;
  padding: 0px;
	}